body {
  color: #ffb300;
  background: #050505;
  font-family: "Nunito", sans-serif;
}

.navbar.scrolled {
  background: #121212;
  transition: background 500ms;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 400;
}

#mainNavbar .nav-link {
  color: whitesmoke;
}

#mainNavbar .active {
  color: #ffb300;
}

#mainNavbar .nav-link:hover {
  color: #ffb300;
}

#mainNavbar .navbar-brand {
  color: #ffd900;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
}

div h2 {
  color: #ffd900;
}

.text-center span {
  color: #ffd900;
  font-family: "Pacifico", cursive;
}

.card-body {
  margin: auto;
}

.bg-dark {
  background-color: #050505 !important;
}

.card img {
  height: 400px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}
