body {
  color: #ffb300;
  background: #050505;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 768px) {
  .scrolled {
    background: #090909;
    transition: background 500ms;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 400;
}

h2 {
  margin-top: 40px;
}

#mainNavbar .nav-link {
  color: whitesmoke;
}

#mainNavbar .active {
  color: #ffb300;
}

#mainNavbar .nav-link:hover {
  color: #ffb300;
}

#mainNavbar .navbar-brand {
  color: #ffd900;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
}

div h2 {
  color: #ffd900;
}

.text-center span {
  color: #ffd900;
  font-family: "Pacifico", cursive;
}

.card {
  min-width: 300px;
}

.card-body {
  margin: auto;
}

.bg-dark {
  background-color: #050505 !important;
}

.card img {
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}
